body {
  font-family: Arial;
  margin: 0px; /** This is a comment! */
}

a {
  color:red;
}

img {
  width: 200px;
}

p span {
  font-weight: bold;
}

.header {
  background-color: #998500;
  position: fixed;
  top: 0px;
  height: 60px;
  padding: 0px 5px;
  width:100%;
  font-size: 50px;
  z-index: 10;
}

.content {
  height: 200px;
  position: absolute;
  top: 60px;
  padding: 10px;
  z-index: 0;
}

/**
.content p {
  width: 25%;
}
*/

.footer {
  background-color: #0F2150;
  position: fixed;
  bottom: 0px;
  height: 10px;
  width: 100%;
  z-index: 10;
}
